<div class= "pt-5">
<%= form_with(url: "project/create", method: "get") do |f| %>
   <div class="form-group">
       <%= f.text_field :name, placeholder: 'ingresa nombre', class: 'form-control' %>
    </div> 
    <div class="form-group">
        <%= f.text_area :description, placeholder: 'ingresa descripciòn', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.date_select :start_on, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.date_select :finish_off, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.select :status, options_for_select([["propuesta", "propuesta"], ["en progreso", "en progreso"],["terminado", "terminado"]]) %>
    </div>


<% end %>
</div>