<div class= "pt-5">
<%= form_with(model: @project, url: "/projects/create", local: true) do |f| %>
   <div class="form-group">
       <%= f.text_field :name, placeholder: 'ingresa nombre', class: 'form-control' %>
    </div> 
    <div class="form-group">
        <%= f.text_area :description, placeholder: 'ingresa descripciòn', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.date_select :starts_on, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.date_select :finish_on, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.select :status, options_for_select(@statuses) %>
    </div>

    <div class="form-group">
        <%= f.submit 'crea proyecto ', class: 'btn btn-primary' %>

    </div>

<% end %>
</div>